## This file was created to analyze the information of the churn data

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_csv('logistics_churn_data.csv')

df.head()

,company_id,industry,monthly_spend_usd,shipments_per_month,avg_delay_hours,support_tickets_last_90d,contract_length_months,has_api_integration,churned
0,CUST_0000,Electronics,15546,13,23.518194,3,12,0,0
1,CUST_0001,Perishable,18628,25,4.602779,5,12,0,0
2,CUST_0002,Pharma,17405,16,18.296166,3,12,1,1
3,CUST_0003,Perishable,16119,17,17.732204,0,12,0,1
4,CUST_0004,Perishable,11047,21,7.133106,0,12,0,0

## Summary statistics

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   company_id                1000 non-null   object
 1   industry                  1000 non-null   object
 2   monthly_spend_usd         1000 non-null   int64
 3   shipments_per_month       1000 non-null   int64
 4   avg_delay_hours           1000 non-null   float64
 5   support_tickets_last_90d  1000 non-null   int64
 6   contract_length_months    1000 non-null   int64
 7   has_api_integration       1000 non-null   int64
 8   churned                   1000 non-null   int64
dtypes: float64(1), int64(6), object(2)
memory usage: 70.4+ KB

In [3]:
df["monthly_spend_usd"].median()

np.float64(15280.5)

In [7]:
drop_duplicates=df.drop_duplicates(subset=['industry'])
print(drop_duplicates)

   company_id     industry  monthly_spend_usd  shipments_per_month  \
0   CUST_0000  Electronics              15546                   13
1   CUST_0001   Perishable              18628                   25
2   CUST_0002       Pharma              17405                   16
5   CUST_0005   Automotive              17357                   24
18  CUST_0018       Retail               9939                   23

    avg_delay_hours  support_tickets_last_90d  contract_length_months  \
0         23.518194                         3                      12
1          4.602779                         5                      12
2         18.296166                         3                      12
5         17.035667                         2                      12
18        12.170137                         3                      12

    has_api_integration  churned
0                     0        0
1                     0        0
2                     1        1
5                     1        0
18                    1        0

## How many records has API Integration?

In [21]:
df['has_api_integration'].value_counts()

has_api_integration
0    687
1    313
Name: count, dtype: int64

In [27]:
df['churned'].value_counts(normalize=True)

churned
0    0.811
1    0.189
Name: proportion, dtype: float64

In [26]:
industry_index = df.set_index('industry')
print(industry_index.loc['Electronics'])

            company_id  monthly_spend_usd  shipments_per_month  \
industry
Electronics  CUST_0000              15546                   13
Electronics  CUST_0010              10051                   22
Electronics  CUST_0014               6537                   26
Electronics  CUST_0016              14209                   21
Electronics  CUST_0019               6725                   20
...                ...                ...                  ...
Electronics  CUST_0981              25287                   15
Electronics  CUST_0982              15103                   13
Electronics  CUST_0987              11004                   26
Electronics  CUST_0992              16615                   21
Electronics  CUST_0998              14097                   22

             avg_delay_hours  support_tickets_last_90d  \
industry
Electronics        23.518194                         3
Electronics        22.249060                         0
Electronics         8.100735                         1
Electronics         5.252119                         3
Electronics        12.556863                         4
...                      ...                       ...
Electronics         9.077724                         1
Electronics         8.253212                         2
Electronics        16.158084                         2
Electronics        11.058693                         3
Electronics         8.932062                         3

             contract_length_months  has_api_integration  churned
industry
Electronics                      12                    0        0
Electronics                      36                    0        0
Electronics                      12                    0        0
Electronics                      12                    1        0
Electronics                      24                    1        0
...                             ...                  ...      ...
Electronics                      36                    0        0
Electronics                      24                    0        0
Electronics                      24                    1        0
Electronics                      24                    1        0
Electronics                      24                    0        0

[206 rows x 8 columns]

## Pivot Table of Shipments per month and industry.

In [11]:
mean_values = df.pivot_table(values='shipments_per_month', index='industry', aggfunc=['mean', 'median'])    
print(mean_values)

                           mean              median
            shipments_per_month shipments_per_month
industry
Automotive            20.463158                20.5
Electronics           19.626214                20.0
Perishable            19.882353                20.0
Pharma                20.026316                20.0
Retail                19.685714                19.0

In [3]:
pivot_table_a1 = df.pivot_table(values=['monthly_spend_usd','avg_delay_hours'], index='industry')    
print(pivot_table_a1)

             avg_delay_hours  monthly_spend_usd
industry
Automotive         11.884210       15672.947368
Electronics        11.668598       15535.844660
Perishable         11.436233       15238.764706
Pharma             11.506294       15463.857895
Retail             12.111176       14865.933333

In [7]:
pivot_table_a2 = df.pivot_table(values='monthly_spend_usd', index='industry', columns='churned')    
print(pivot_table_a2)

churned                 0             1
industry
Automotive   15540.325000  16380.266667
Electronics  15272.831395  16866.382353
Perishable   15467.750000  14170.166667
Pharma       15032.314103  17443.882353
Retail       14604.425806  15602.909091