## This file was created to analyze the information of the churn data

In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('logistics_churn_data.csv')

df.head()

,company_id,industry,monthly_spend_usd,shipments_per_month,avg_delay_hours,support_tickets_last_90d,contract_length_months,has_api_integration,churned
0,CUST_0000,Electronics,15546,13,23.518194,3,12,0,0
1,CUST_0001,Perishable,18628,25,4.602779,5,12,0,0
2,CUST_0002,Pharma,17405,16,18.296166,3,12,1,1
3,CUST_0003,Perishable,16119,17,17.732204,0,12,0,1
4,CUST_0004,Perishable,11047,21,7.133106,0,12,0,0

## Pivot Table of Shipments per month and industry.

In [11]:
mean_values = df.pivot_table(values='shipments_per_month', index='industry', aggfunc=['mean', 'median'])    
print(mean_values)

                           mean              median
            shipments_per_month shipments_per_month
industry
Automotive            20.463158                20.5
Electronics           19.626214                20.0
Perishable            19.882353                20.0
Pharma                20.026316                20.0
Retail                19.685714                19.0

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   company_id                1000 non-null   object
 1   industry                  1000 non-null   object
 2   monthly_spend_usd         1000 non-null   int64
 3   shipments_per_month       1000 non-null   int64
 4   avg_delay_hours           1000 non-null   float64
 5   support_tickets_last_90d  1000 non-null   int64
 6   contract_length_months    1000 non-null   int64
 7   has_api_integration       1000 non-null   int64
 8   churned                   1000 non-null   int64
dtypes: float64(1), int64(6), object(2)
memory usage: 70.4+ KB